[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/ZoomWin"]
	path = home/.vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-markdown-preview"]
	path = home/.vim/bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
