[color]
  ui = auto

[alias]
  co = checkout
  st = status
  ci = commit -v

[user]
  name = Justin Blake
  email = justin@megablaix.com

[github]
  user = blaix
  token = *secret*

[branch]
  autosetuprebase = always
